
@{
    ViewBag.Title = "Index";
}

<h2>BookStore Home Page</h2>
@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="alert alert-primary">@ViewBag.ErrorMessage</div>
}
else
{
    <p>There are currently @ViewBag.TotalBookCount books</p>
    <p>Book: @ViewBag.Book</p>   
}
